body {
    font-family: 'Lato', sans-serif;
    background-color: #f4b927;
}

.wrapper {
    padding-top: 10px;
}

.card-img-top {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    text-align: center;
    box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5)
}

.card-body h6 {
    font-size: 14px;
    text-transform: uppercase;
    color: deeppink;
}

.card-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 800px) {
    .mx-30 {
        margin-bottom: 30px;
    }
}

body {
    color: #000000 !important;
    background-color: #1abc9c !important;
}

.box {
    margin: auto
}

.card {
    padding: 8%;
    padding-top: 35px;
    margin-top: 60px;
    margin-bottom: 80px
}

.inner {
    overflow: hidden;
}

.inner img {
    transition: all 1.5s ease;
}

.inner:hover img {
    transform: scale(1.5);
}