body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #1abc9c;
    background-color: #1abc9c !important;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.img-thin {
    display: inline;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border-style: solid;
    border-color: rgb(255, 1, 1);
    border-width: 4px;
    border-radius: 50%;
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.hire-btn {
    cursor: pointer;
    border: 2px solid #270acc;
    color: #f30d0d;
}

button:active {
    transform: scale(1.1);
}

.model {
    height: 560px;
    position: absolute;
    bottom: 0px;
    left: 70%;
    transform: translateX(-70%);
}

.container-fluid button {
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibri;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}